/* -------------------main------------------- */
.main {
    /* height: 2000px; */
    opacity: 1;
}

.main-fix {
    margin-top: 72px;
}

.main1 {
    height: 600px;
}

.main1-left {
    float: left;
    width: 900px;
    height: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.4);
}

.main1-right {
    float: left;
    width: 300px;
    height: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
}

/* -------------------main1-slider------------------- */
.main1-left .carousel-slide {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 2px solid #888;
    border-radius: 10px;
}

.main1-left .carousel-slide-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.4s;
}

.main1-left .carousel-slide-wrapper li {
    flex: 1;
}

.main1-left .carousel-slide-wrapper li img {
    width: 100%;
    height: 100%;
}

.main1-left .carousel-slide-mask{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background-color: rgba(100,67,68,0.9); */
    -webkit-mask-image: linear-gradient(0,#2f3238 13%,transparent 22%);
}

.main1-left .carousel-slide-mask-link  {
    display: block;
    height: 100%;
    width: 100%;
}

.main1-left .carousel-slide-footer {
    position: absolute;
    top: 480px;
    left: 0;
    height: 80px;
    width: 100%;
    /* background-color: rgba(100, 67, 68, 0.8); */
    padding: 12px 12px 0 12px;
    /* position: relative; */
}

.main1-left .carousel-slide-footer .toggle {
    position: absolute;
    right: 0;
    top: 12px;
    display: flex;
}

.main1-left .carousel-slide-footer .toggle button {
    margin-right: 12px;
    width: 28px;
    height: 28px;
    appearance: none;
    border: none;
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.main1-left .carousel-slide-footer .toggle button:hover {
    background: rgba(255, 255, 255, 0.1);
}

.main1-left .carousel-slide-footer-title {
    margin: 0;
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}

.main1-left .carousel-slide-indicator {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    line-height: 100%;
}

.main1-left .carousel-slide-indicator li {
    width: 8px;
    height: 8px;
    margin-right: 8px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.4;
    cursor: pointer;
}

.main1-left .carousel-slide-indicator li.radius-active {
    width: 14px;
    height: 14px;
    opacity: 1;
}

/*自动播放或者点击向右滑动的按键时的动画，张口在右边*/
.main1-left .carousel-slide-indicator .radiusAnimation {
    position: relative;
    background-color: transparent;
}

.radiusAnimation::before,
.radiusAnimation::after {
    content: "";
    width: 100%;
    height: 50%;
    background-color: #fff;
}

.radiusAnimation::before {
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    border-radius: 7px 7px 0 0;
    animation: animate_top .3s linear 2;
}

.radiusAnimation::after {
    position: absolute;
    bottom: 0;
    transform-origin: 50% 0;
    border-radius: 0 0 7px 7px;
    animation: animate_bottom .3s linear 2;
}

@keyframes animate_top {
    50% {
        transform: rotate(-45deg);
    }
}

@keyframes animate_bottom {
    50% {
        transform: rotate(45deg);
    }
}

/* 点击向左滑动按钮的动画样式，张口在左边*/
.main1-left .carousel-slide-indicator .radiusAnimation2 {
    position: relative;
    background-color: transparent;
}

.radiusAnimation2::before,
.radiusAnimation2::after {
    content: "";
    width: 100%;
    height: 50%;
    background-color: #fff;
}
/*两个伪类元素的动画样式不一样，注意区分*/
.radiusAnimation2::before {
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    border-radius: 7px 7px 0 0;
    animation: animate_top2 .3s linear 2;
}

.radiusAnimation2::after {
    position: absolute;
    bottom: 0;
    transform-origin: 50% 0;
    border-radius: 0 0 7px 7px;
    animation: animate_bottom2 .3s linear 2;
}

@keyframes animate_top2 {
    50% {
        transform: rotate(45deg);
    }
}

@keyframes animate_bottom2 {
    50% {
        transform: rotate(-45deg);
    }
}

/* -------------------self-info------------------- */
.main1-right .self-info h3 {
    text-align: center;
    font-size: 18px;
}

.main1-right .self-info .self-aphorism {
    margin-top: 15px;
    text-align: right;
}

.main1-right .self-info .self-intro {
    margin-top: 15px;
    text-align: justify;
    text-indent: 2em;
}

.main1-right .self-info .self-waifu {
    margin-top: 40px;
    text-align: center;
    font-weight: 700;
    font-size: 17px;
}

.main1-right .self-info .self-waifuimg {
    width: 100%;
    height: 100%;
}

/* -------------------main2------------------- */
.main2 {
    margin-top: 30px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.4);
}

/* -------------------footer------------------- */
.footer {
    background-color: #333;
}

.footer .footer-box {
    padding: 40px 100px;
    margin-bottom: 20px;
}

.footer .footer-box .links {
    margin-top: 50px;
}

.footer .footer-box ul {
    line-height: 30px;
}

.footer .footer-box ul li {
    float: left;
    padding: 0 10px;
    color: #c7a462;
    font-family: "futura-pt", "Helvetica Neue", Arial, sans-serif;
}

.footer .footer-box .me ul li a {
    color: #c7a462;
}

.footer .footer-box .me ul li a:hover {
    text-decoration: underline;
}

.footer .footer-box .links ul li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    background: url(../images/vsprite.png?v=2) no-repeat 0 -192px;
    -webkit-transition: background-position 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: background-position 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: background-position 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: background-position 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.footer .footer-box .links li:nth-child(2) a {
    background-position: 0 -192px;
}

.footer .footer-box .links li:nth-child(2) a:hover {
    background-position: -30px -192px;
}

.footer .footer-box .links li:nth-child(3) a {
    background-position: -60px -192px;
}

.footer .footer-box .links li:nth-child(3) a:hover {
    background-position: -90px -192px;
}

.footer .footer-box .links li:nth-child(4) a {
    background-position: -120px -192px;
}

.footer .footer-box .links li:nth-child(4) a:hover {
    background-position: -150px -192px;
}

.footer .footer-box .links li:nth-child(5) a {
    background-position: -180px -192px;
}

.footer .footer-box .links li:nth-child(5) a:hover {
    background-position: -210px -192px;
}

.footer .footer-box .links li:nth-child(6) a {
    background-position: -240px -162px;
}

.footer .footer-box .links li:nth-child(6) a:hover {
    background-position: -270px -162px;
}

.footer .footer-box .links li:nth-child(7) a {
    background-position: -180px -162px;
}

.footer .footer-box .links li:nth-child(7) a:hover {
    background-position: -210px -162px;
}

.footer .footer-foot {
    height: 50px;
    padding: 0 110px;
    background-color: #222;
}

.footer .footer-foot p {
    text-align: center;
    line-height: 50px;
    color: #999;
}